<div *ngIf="showSpinner" class="spinner"><mat-spinner></mat-spinner></div>
<mat-toolbar>
    <span>FSC Report</span>
    <span class="actions">
        <span (click)="uploadNewFile()"><mat-icon aria-hidden="false" aria-label="Upload new File" fontIcon="upload"
                title="Upload new xlsx file"></mat-icon></span>
        <span (click)="refreshCache()"><mat-icon aria-hidden="false" aria-label="Refresh" fontIcon="cached"
                title="Refresh"></mat-icon></span>
    </span>

</mat-toolbar>

<div class="container" [class.faded]="showSpinner">
    <section class="container__dropdown">
        <form [formGroup]="filterForm">
            <mat-grid-list cols="5">
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Month and Year</mat-label>
                        <input matInput [matDatepicker]="dp" formControlName="date">
                        <mat-hint>MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp startView="multi-year" (monthSelected)="setMonthAndYear($event, dp)"
                            panelClass="example-month-picker">
                        </mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Activity Type</mat-label>
                        <mat-select formControlName="activity_type" (selectionChange)="updateFilter()">
                            <mat-option [value]="''" selected>--Select--</mat-option>
                            @for (activity of activityType; track activity) {
                            <mat-option [value]="activity">{{activity}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Master Application</mat-label>
                        <mat-select formControlName="m_app" (selectionChange)="updateFilter()">
                            <mat-option [value]="''" selected>--Select--</mat-option>
                            @for (m_app of masterApplicationType; track m_app) {
                            <mat-option [value]="m_app">{{m_app}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Environment</mat-label>
                        <mat-select formControlName="env" (selectionChange)="updateFilter()">
                            <mat-option [value]="''" selected>--Select--</mat-option>
                            @for (env of envType; track env) {
                            <mat-option [value]="env">{{env}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>View Type</mat-label>
                        <mat-select formControlName="view_type" (selectionChange)="setView($event)">
                            <mat-option [value]="1">Calender View</mat-option>
                            <mat-option [value]="2">Table View</mat-option>

                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </section>
    <section [hidden]="tableView" class="container__carausal">
        <app-calender-view (updateDate)="updateDateControl($event)"
            (activityData)="setActivityData($event)"></app-calender-view>
    </section>
    <section [hidden]="!tableView" class="container__table">
        <app-simple-table></app-simple-table>
    </section>
    <div class="text-center">
        <span><i> {{noOfRecords}} Record(s) Found</i></span>
    </div>
</div>